/* Reset and Global Styles */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

ul {
	list-style: none;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	background-color: #f0f0f0;
}

h1 {
	position: absolute;
	top: 20px;
	font-size: 12vw;
	font-weight: 900;
	color: #000000;
	margin: 0;
	z-index: 1;
}

p {
	margin-top: -20px;
	font-size: 8vw;
	font-weight: 900;
	color: #000000;
	margin: 2;
	z-index: 1;
}
/* Button Styles */
.button {
	font-family: "bitcount-mono-single-circle", sans-serif;
}
.button-class {
	font-family: "bitcount-mono-single-circle", sans-serif;
	font-weight: 700;
	font-style: normal;
	background-color: rgba(255, 0, 0, 0.493);
	color: rgb(255, 251, 0);
	padding: 10px;
	text-align: center;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 195px;
	text-decoration: none;
	display: block;
	font-size: 20px;
	margin: 0px;
	transition-duration: 0.4s;
	cursor: pointer;
	border-radius: 20px;
	box-sizing: border-box;
}

.button-class:hover {
	background-color: rgba(182, 27, 0, 0.774);
}

.button-class img {
	display: block;
	margin: -25px auto;
	max-width: 100%; /* This ensures the image doesn't take the full width, adjust as needed */
}

.container {
	width: 80%;
}

.detail {
	font-size: 150%;
	font-family: "bitcount-mono-single-circle", sans-serif;
	font-weight: 900;
	margin-top: -10px;
}

.details-container {
	display: flex;
	min-height: 120px;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	margin-top: 50px;
}

.list-group-item {
	background-color: transparent;
	border: none;
}

.main {
	background-image: url("images/background.webp");
	background-size: 540px 1170px;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;

	max-width: 540px;

	gap: 20px;
}

.modal-backdrop {
	background-color: transparent;
}

.modal-content {
	margin-top: -70px;
	scale: 0.65;
	align-items: center;
	background-color: transparent;
	border: none;
}

.navbar {
	width: 100%;
}

.navbar-brand {
	font-family: "bitcount-mono-single-circle", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 12px;
	color: #e9e8e8;
	margin: 0;
	z-index: 1;
	text-align: center;
	padding: 1px;
	z-index: 10;
}

.nav-item {
	font-family: "bitcount-mono-single-circle", sans-serif;
	font-weight: 700;
	font-style: normal;
	font-size: 12px;
	color: #e9e8e8;
	margin: 0;
	z-index: 1;
	text-align: center;
	padding: 1px;
	z-index: 10;
}

.navbar-nav {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0;
	z-index: 1;
	text-align: center;
	padding: 3px;
	z-index: 10;
}
/* Pokémon List Styles */
.pokemon-list {
	display: flex;
	padding: 10px;
	margin: 5px;
	flex-direction: row;
	overflow-x: auto;
	overflow-y: hidden;
	min-height: 150px;
	width: 90%;
	scroll-snap-type: x mandatory;
}

.pokemon-list::-webkit-scrollbar {
	display: 12px;
}

.pokemon-list li {
	scroll-snap-align: start;
	padding: 10px;
	min-width: 140px;
	max-width: 145px;
	height: 205px;
}

.pokeball-placeholder {
	background-image: url("/images/pokeball2x.webp");
	background-position: center;
	width: 10vw; /* Adjust this value to your preference */
	padding-top: 20vw; /* Maintain aspect ratio */
	display: flex;
	flex-direction: column;
	position: relative;
	justify-content: center;
	align-items: center;
	background-size: 70%;
	background-repeat: no-repeat;
	width: 100%;
	padding-top: 80%;
	z-index: 0;
	margin-top: -55px;
}

.pokemonInfo {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #006eff62;
	padding: 10px;
	margin: px, 0px, 0px, 0px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pokemonList {
	background-size: 540px 1170px;
	background-repeat: no-repeat;
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: transparent;
	padding-top: 75px;
	border-radius: 10px;
	width: calc(100vw - 40px);
	max-width: 540px;
	min-width: 300px;
	gap: 20px;
}
/* Pokeball Placeholder Styles */

.pokemonLogo {
	position: relative;
	margin-top: -50px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	scale: 2.5;
	z-index: 15;
}

.poketext {
	font-size: 50px;
	font-weight: 600;
	font-family: "bitcount-mono-single-circle", sans-serif;
	position: absolute;
	text-align: center;
	margin-top: -130px;
}

.threed-text-active .poketext-effect-top {
	font-weight: 200;
	color: #f4ff5a;
	z-index: 13;
}

.threed-text-active .poketext-effect-middle {
	font-weight: 600;
	color: #ff0000;
	z-index: 12;
}

.threed-text-active .poketext-effect-bottom {
	text-shadow: 3px 3px 0px #000000;
	font-weight: 900;
	color: #000000;
	z-index: 10;
}

#findPokemonSection {
	position: relative;
	width: 80%;
	display: flex;
	justify-content: center;
	gap: 20px;
	z-index: 1;
	padding: 0 20px;
}

#findPokemonSection input {
	flex: 1;
	padding: 5px;
	font-size: 0.8rem;
	border-radius: 5px;
	border: 1px solid #ccc;
	text-align: center;
}

#findPokemonSection button {
	padding: 5px 10px;
	font-size: 0.8rem;
	border-radius: 5px;
	background-color: #5e4bca;
	color: #fff;
	cursor: pointer;
}

#findPokemonSection button:hover {
	background-color: #4b3db2;
}

#pokedextext {
	position: absolute;
	top: 85px;
	left: 200px;
	font-family: "bitcount-mono-single-circle", sans-serif;
	font-weight: 200;
	font-style: normal;
	font-size: 80px;
	color: #f4ff5a;
	margin: 0;
	z-index: 1;
	text-align: center;
	padding: 10px;
	z-index: 13;
}

#pokedextext2 {
	position: absolute;
	top: 85px;
	left: 200px;
	font-family: "bitcount-mono-single-circle", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 80px;
	color: #ff0000;
	margin: 0;
	z-index: 1;
	text-align: center;
	padding: 10px;
	z-index: 12;
}

#pokedextext3 {
	text-shadow: 3px 3px 0px #000000;
	position: absolute;
	top: 90px;
	left: 200px;
	font-family: "bitcount-mono-single-circle", sans-serif;
	font-weight: 900;
	font-style: normal;
	font-size: 80px;
	color: #000000;
	margin: 0;
	text-align: center;
	padding: 10px;
	z-index: 10;
}

/* Pokémon List Section Styles */
#pokemonListSection {
	width: calc(100vw - 40px);
	max-width: 400px;
	min-width: 200px;
	background-color: rgb(0, 0, 0);
}

#pokemonName.error {
	color: red;
	font-weight: bold;
}

/* Pokémon Result Styles */
#pokemonResult {
	position: absolute;
	top: 51%;
	left: 50%;
	transform: translate(-50%, -52%);
	width: 65%;
	height: 82%; /* Set the height equal to the width */
	text-align: center;
	z-index: 3;
	display: flex;
	color: #000000;
	font-size: 1.5rem;
	font-weight: bold;
	background-color: rgb(255, 255, 255, 0.5);
	background: radial-gradient(
		circle,
		rgb(236, 236, 236, 0.7) 30%,
		rgb(255, 255, 255, 0.2) 90%
	);
	border-radius: 50%;
	padding: 0px;
	box-sizing: border-box; /* This will include padding in the width and height */
	z-index: 16;
}

#pokemonResult img {
	position: relative;
	top: 00%;
	width: 65%; /* Set image width to 50% */
	z-index: 3;
}

#pokemonResult div {
	margin-bottom: 30px;
}

#pokemonResult div p {
	position: relative;
	bottom: 40px;
	margin-bottom: 0%;
	z-index: 4;
}
#pokemonResult div p:nth-of-type(1) {
	font-size: 1.5rem; /* Larger font size for name */
	/*margin-bottom: 0%; /* Space between name and other details */
}
#pokemonResult div p:nth-of-type(2),
#pokemonResult div p:nth-of-type(3) {
	font-size: 1rem; /* Smaller font size for height and types */
	margin-top: 0%;
}

#modal-info {
	background-color: #ffffff;
	margin-bottom: 30px;
	margin: 20px;
	padding: 20px;
}

/* Media Queries */
@media (min-width: 250px) {
	.pokemonLogo {
		transform: scale(0.3);
	}
	.pokemon-placeholder {
		transform: scale(0.17);
	}
}

@media (min-width: 368px) {
	.pokemonLogo {
		transform: scale(0.25);
	}
	.pokemon-placeholder {
		transform: scale(0.15);
	}
}

@media (min-width: 465px) {
	.pokemonLogo {
		transform: scale(0.3);
	}
	.pokemon-placeholder {
		transform: scale(0.3);
	}
}

@media (min-width: 1280px) {
	.pokemonLogo {
		transform: scale(0.35);
	}
}

@media (min-width: 1024px) {
	/* Styles for desktop screens */
}

img {
	max-width: 100%;
	height: auto;
}
